.banner{
   height: 260px;
   position: relative;
}

.banner__boreal{
   width: 100%;
   height: 260px;
   object-fit: cover;
   object-position: center;
   /*position: relative;*/
}

.banner__chamada{
   font-family: var(--fonte-titulo);
   font-size: 32px;
   text-align: center;
   position: absolute;
   top: 110px;
   color: var(--cor-texto);
   text-shadow:  rgb(6, 6, 6) 1px 0 2px;
   width: 100%;
}

/*media screen de tablet*/
@media screen and (min-width: 768px){
   .banner, .banner__boreal{
      height: 384px;
   }
   .banner__chamada{
      font-size: 64px;
      font-weight: 400;
   }
}